.Page {
    display : grid;
    grid-auto-flow: column;
    margin-left: 50px;
    grid-template-columns: 25%;
    grid-gap:3%;
}

.JiraHeader {
    font-size: 30px;
}
.NavBarSide{
    background-color: #eff3f3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 20%  ;
    grid-gap: 25px;
    margin-top: 50px;

}
.bar {
    background: #0748a6;
}
.Parent {
    display: grid;
    gap:10px;
    grid-auto-flow: column;
    grid-gap: 15px;
    margin-top: 150px;
    justify-content: right;
    grid-template-columns: 30% 30% 30% ;
    height: 77vh;
    margin-right: 5%;
}
.child {
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #f4f5f7;
    
}
.child1 {
    padding-left: 20px;
    background-color:hsla(206, 100%, 87%, 0.25);
}
.child2 {
    padding-left: 20px;
    background-color: 
    #fee27f;
}
.child3{
    
    padding-left: 20px;
   background-color:  
   #f4f5f7;
}
.child4{
   
    width: 50px;
    height: 50px;
    
    text-align: center;
    align-items: center;
    align-content: center;
    background-color:hsla(206, 100%, 87%, 0.25)
}

.add {
    font-size: 15px;
}
.p{
    font-weight: bold;
    font-size: 40px;
}
.NavBarSide2{
    display: grid;
    grid-auto-flow: column;  
   
}
.IconsPr {
display:flex;
justify-content: center;
}
.IconsPr2 {
    display:flex;
    
    /*align-items:flex-end;*/
    }
