.Page {
    display : grid;
    grid-auto-flow: column;
    grid-template-columns: 17%;
    grid-gap:3%;
}

.JiraHeader {
    font-size: 30px;
}
.NavBarSide{
    background-color: #eff3f3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20% 20%  ;
    grid-gap: 25px;
    

}
.bar {
    background: #0748a6;
}
.Parent {
    display: grid;
    gap:10px;
    grid-auto-flow: column;
    grid-gap: 15px;
    justify-content: right;
    grid-template-columns: 30% 30% 30% ;
    height: 100vh;
    
}
.child {
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #f4f5f7;
    
}
.child1 {
    padding-left: 20px;
    background-color:hsla(206, 100%, 87%, 0.25);
}
.child2 {
    padding-left: 20px;
    background-color: 
    #fee27f;
}
.child3{
    
    padding-left: 20px;
   background-color:  
   #f4f5f7;
}
.child4{
   
    width: 50px;
    height: 50px;
    
    text-align: center;
    align-items: center;
    align-content: center;
    background-color:hsla(206, 100%, 87%, 0.25)
}

.add {
    font-size: 15px;
}
.p{
    font-weight: bold;
    font-size: 40px;
}
.NavBarSide2{
    display: grid;
    grid-auto-flow: column;  
   
}
.IconsPr{
    display:flex;
    flex-direction:column;
    align-items: center;
    }

    .Icons1 {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
      }
    .Icons2 {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
        position: relative;
        top:70vh;
        
    }
 
   .ReactLogo{
    padding-top: 20%;
   }

.MoveText{
    padding-top: 8px;
}
.EditLogos {
   display: grid;
  grid-template-rows:80px 50px 50px 50px 100px ;
  grid-gap:5px;
  grid-auto-flow: row;
  align-items: center;
   
  
}
.EditLogo{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
  

}
.EditLogo2{
    display: flex;
    flex-direction: row;
    align-items: center;  
    gap: 10px;
}
.Board {
    font-size: 22px;
    padding: 10px;
   

 
}
.EditLogo3{
     display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.EditLogo4{
    display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}
.EditLogo5{
    display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}
.FeedBack{
    white-space: nowrap;
}
.JiraLogo{
    white-space: nowrap;
}